<div class="columns">
  <div class="column is-12-tablet is-6-desktop">
    <section class="section bookstore_form">
      <% if flash[:alert] %>
        <aside class="notification"><%= flash[:alert] %></aside>
      <% end %>
      <%= form_tag do %>
        <h2 class="title">Please Log In</h2>
        <div class="field">
          <%= label_tag :name, "Name", class: "label"%>
          <div class="control">
            <%= text_field_tag :name, params[:name], class: 'input' %>
          </div>
        </div>
        <div class="field">
          <%= label_tag :password, "Password",class: 'label' %>
          <div class="control">
            <%= password_field_tag :password, params[:password], class: 'input' %>
          </div>
        </div>
        <div class="actions">
          <%= submit_tag 'Login', class: "button is-link is-fullwidth has-text-weight-bold" %>
        </div>
      <% end %>
    </section>
  </div>
  <div class="column"></div>
</div>
