<div class="bookstore_form">
  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h2 class="title">Enter User Details</h2>
    <div class="columns">
      <div class="column is-12-tablet is-6-desktop">
        <div class="field">
          <%= form.label :name, 'Name:', class: "label" %>
          <div class="control">
            <%= form.text_field :name, class: "input" %>
          </div>
        </div>
        <div class="field">
          <%= form.label :password, class: "label" %>
          <div class="control">
            <%= form.password_field :password, class: "input" %>
          </div>
        </div>
        <div class="field">
          <%= form.label :password_confirmation, class: "label" %>
          <div class="control">
            <%= form.password_field :password_confirmation, class: "input" %>
          </div>
        </div>
        <div class="actions">
          <%= form.submit class: "button is-success has-text-weight-bold is-fullwidth" %>
        </div>
      </div>
      <div class="column"></div>
    </div>
  <% end %>
</div>
