<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation" class="notification">
      <h2><%= raw t('errors.template.header', count: @order.errors.count,
        model: t('activerecord.models.order')) %>.</h2>
      <p><%= t('errors.template.body') %></p>
      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= raw message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <%= form.label :name, t('.name'), class: 'label' %>
        <%= form.text_field :name, class: 'input' %>
      </div>
      <div class="field">
        <%= form.label :email, t('.email'), class: 'label' %>
        <%= form.text_field :email, class: 'input' %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= form.label :address, t('.address_html'), class: 'label' %>
    <%= form.text_area :address, class: 'textarea'  %>
  </div>
  <div id="pay-type-component"></div>
  <br>
  <div class="actions">
    <%= form.submit t('.submit'), class: 'button is-success is-fullwidth' %>
  </div>
<% end %>
