<section class="section">
  <h1 class="title"><%= t('.legend') %></h1>
  <%= render 'form', order: @order %>
  <br>
  <%= link_to 'Back', orders_path, class: 'button is-gray' %>
</section>
<%= javascript_pack_tag 'pay_type' %>
