<article>
  <% if notice %>
    <aside id="notice"><%= notice %></aside>
  <% end %>
  <h2 class="title is-6 has-text-weight-bold"><%= t('.title') %></h2>
  <div class="table-container">
    <table class="table is-hoverable is-narrow">
      <thead class="content is-small">
        <tr>
          <th>Quantity</th>
          <th>Title</th>
          <th class="has-text-right">Price</th>
        </tr>
      </thead>
      <tbody class="content is-small">
        <%= render cart.line_items %>
      </tbody>
      <tfoot class="content is-small">
        <tr>
          <th colspan="2" class="has-text-right">Total:</th>
          <td><strong><%= number_to_currency(cart.total_price) %></strong></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="field is-grouped">
    <p class="control">
      <%= link_to t('.checkout'), new_order_path, method: :get, class: 'button is-small is-success is-outlined  '%>
    </p>
    <p class="control">
      <%= link_to t('.empty'), cart, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small is-danger is-outlined' %>
    </p>
  </div>
</article>
