<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>

<h1 class="title is-size-3 has-text-weight-bold">
    Products
</h1>

<div class="columns is-multiline">
    <% @products.each do |product| %>
    <div class="column is-full">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <%= image_tag(product.image_url, size: 80) %>
                </div>
                <div class="media-content">
                    <div class="content">
                        <h2 class="subtitle is-5 has-text-weight-bold"><%= product.title %></h2>
                        <p class=""><%= truncate(strip_tags(product.description), length: 80) %></p>
                    </div>
                </div>
                <div class="media-right">
                    <div class="columns">
                        <div class="column">
                            <p><%= link_to 'Show', product %></p>
                        </div>
                        <div class="column">
                            <p><%= link_to 'Edit', edit_product_path(product) %></p>
                        </div>
                        <div class="column">
                            <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <% end %>
</div>

<br>

<%= link_to 'New Product', new_product_path %>