<% if line_item == @current_item %>
  <tr class="line-item-highlight">
  <% else %>
    <tr>
    <% end %>
    <td><%= line_item.quantity %></td>
    <td><%= line_item.product.title %></td>
    <td class="has-text-right"><%= number_to_currency(line_item.total_price, unit: "₦") %></td>
    <td>
      <span>
        <%= link_to 'x', line_item, method: :delete, data: { confirm: 'Are you sure?' }, 
        class: 'button is-small is-light' %>
      </span>
    </td>
  </tr>
