<% if notice %>
  <aside class="notification is-warning is-light" id="notice"><%= notice %></aside>
<% end %>
<h1 class="title"><%= t('.title_html') %></h1>
<h2 class="subtitle"><%= t('.sub_title_html') %></h2>
<% unless @counter < 5 %>
  <p class="content is-small">
    You've visited this page <%= pluralize(@counter, 'time') %> without carting.
  </p>
<% end %>
<div class="columns is-multiline">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <div class="column is-12">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <%= image_tag(product.image_url, size: 80) %>
              </div>
              <div class="media-content">
                <div class="content is-small">
                  <h1 class="title is-size-5 is-marginless is-spaced"><%= product.title %></h1>
                  <p> <%= sanitize(product.description) %></p>
                </div>
                <div class="level is-mobile">
                  <div class="level-left">
                    <div class="level-item">
                      <p class="price"><%= number_to_currency(product.price, unit: "₦") %></p>
                    </div>
                    <div class="level-item">
                      <%= button_to t('.add_to_cart_html'), line_items_path(product_id: product, locale: I18n.locale), remote: true, class: "button has-text-weight-bold is-success"%>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      <% end %>
    <% end %>
  <%end%>
</div>
