<section class="section">
  <nav class="navbar has-background-grey-darker is-fixed-top has-shadow is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <%= image_tag('logo.png') %>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <%= form_tag store_index_path, class: 'select is-small' do %>
          <%= select_tag 'set_locale',
          options_for_select(LANGUAGES, I18n.locale.to_s),
          onchange: 'this.form.submit()' %>
          <%= submit_tag 'submit', id: "submit_locale_change", class: "button is-small" %>
        <% end %>
      </div>
    </div>
  </nav>
</section>
